/*========================================
Colors
==========================================*/
html {
	--color-text-black: #1F2D3D;
	--color-text-dark-smoke: #C0CCDA;
	--color-text-light-smoke: #E0E6ED;
	--color-blue: #0041CB;
	--color-dark-blue: #7A99FF
	--color-faded-blue: #AFC9FF;
	--color-orange: #FFC733;
	--color-dark-orange: #C89700;
	--color-light-orange: #FFFA68;
}

/*========================================
Typography
==========================================*/

html {
	--font-primary: Helvetica, Arial, sans-serif;
	--font-titles:'Squada One', cursive;
	
	font-family: var(--font-primary);
  	color: var(--color-text-black);
  	line-height: 1.2;
}

h1 {
	font-family: var(--font-titles);
	font-size: 2.2rem;
}

h2 {
	font-family: var(--font-titles);
	font-size: 1.7rem;
}

h3 {
	font-family: var(--font-titles);
	font-size: 1.3rem;
}

h4 {
	font-family: var(--font-titles);
	font-size: 1.2rem;
}

h5 {
	font-family: var(--font-titles);
	font-size: 1.1rem;
}

h6 {
	font-family: var(--font-titles);
	font-size: .9rem;
}

a {
	color: var(--color-orange);
}

.title-example {
	font-family: var(--font-titles);
}

.primary-example {
	font-family: var(--font-primary);
}

/*========================================
Site Logo
==========================================*/

.site-logo {
	font-family: var(--font-titles);
	font-size: 2.8rem;
	letter-spacing: .2rem;
	text-decoration: none;
	text-transform: uppercase;
}

/*========================================
Navigation
==========================================*/
nav a {
	text-decoration: none;
}

nav	ul {
	list-style-type: none;
	padding: 0;
}

/*========================================
Main Page Components
==========================================*/

main {
	margin-left: auto;
	margin-right: auto;
	max-width: 800px;
}

main a {
	color: var(--color-text-dark-smoke);
	text-decoration: none;
}

main a:visited {
	color: var(--color-text-dark-smoke);
}

main a:active {	
	color: var(--color-text-light-smoke);
}	

main a:hover, main a:focus {
	color: var(--color-text-light-smoke);
	text-decoration: underline;
}


/*========================================
Header Component
==========================================*/

header {
	background-color: var(--color-blue);
	padding: 2rem;
}

/*========================================
Footer Component
==========================================*/

footer {
	background-color: var(--color-faded-blue);
	padding: 2rem;
}
